{% extends "base.html" %}
{% block title %}My GRE Tracker{% endblock %}
{% block content %}
		
	<!-- CONTENT -->
	<div class = "col-md-6">
		<h2 class = "section">Quant</h2>
		<hr>
		<h3>
			Target: 
			{% for target in targets %}
				{{ target['quanttarget']}}
			{% endfor %}
		</h3>
		<div class = "scores">
			<table class = "table">
				{% for score in scores %}
					<tr>
						<td>
							<h4 class = "test">
								<small>{{ score['test'] }}</small>
							</h4>
							<h5 class = "test"><small>{{ score['datetaken'] }}</small></h5>
						</td>
						<td>
							<h4 class = "score">{{ score['quant'] }}</h4>
							<h5><small>edit</small></h5>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<br>
		
		<!-- 
		<div class = "progress">
			<div class = "progress-bar" role = "progressbar" aria-valuenow={{ myquant }} aria-valuemin="0" aria-valuemax="170" style="width: {{ quantpercent }}%">

			</div>
		</div>
		-->
	</div>

	<div class = "col-md-6">
		<h2 class = "section">Verbal</h2>
		<hr>
		<h3>
			Target: 
			{% for target in targets %}
				{{ target['verbaltarget']}}
			{% endfor %}
		</h3>
		<div class = "scores">
			<table class = "table">
				{% for score in scores %}
					<tr>
						<td>
							<h4 class = "test">
								<small>{{ score['test'] }}</small>
							</h4>
							<h5 class = "test"><small>{{ score['datetaken'] }}</small></h5>
						</td>
						<td>
							<h4 class = "score">{{ score['verbal'] }}</h4>
							<h5><small>edit</small></h5>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class = "col-md-3"></div>
	<div class = "col-md-3"></div>

	<div class = "col-md-3">
		<form action = "/addnew" class = "newform">
			<button class = "btn btn-primary newbutton">
				Add New Score
			</button>
		</form>
	</div>
	<div class = "col-md-3">
		<form action = "" class = "newform">
			<button class = "btn btn-danger newbutton">
				Change Target
			</button>
		</form>
	</div>

{% endblock %}